body {
  font-family: var(--body-font);
  font-size: var(--font-size-md);
  max-inline-size: min(var(--page-width-max), 100vw - 0.5em);
  margin-inline: auto;
}
/* default <h1> */
:where(h1) {
  color: gray;
  font-family: var(--brand-font);
  font-size: var(--font-size-xxxl);
  font-weight: 300;
  letter-spacing: 0.1em;
  padding-block: 0.5em 0.25em;
  text-align: center;
}

/* default <h2> and <text> */
:where(h2) {
  font-size: var(--font-size-lg);
  padding-block: 0.5em 0.25em;
  text-align: center;
}

/* default <p> */
:where(p) {
  line-height: 1.5;
  padding-block-end: 1em;
}

/* default img to handle fluid images */
img {
  display: block;
  max-inline-size: 100%;
}
img[width] {
  inline-size: auto; /* Defer to max-width */
}
img[width][height] {
  height: auto; /* Preserve aspect ratio */
}

/* main content constrained by viewport */
main {
  /* max-inline-size: min(var(--page-width-max), 100vw - 0.5em);
  margin-inline: auto; */
}

.hero {
  /* border: 1px blue solid; */
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.photos {
  margin-block-start: 2em;
  display: flex;
  gap: 0.5em;
}
