/*
  Based on Andy Bell's CSS Reset
    https://piccalil.li/blog/a-modern-css-reset/
*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Add font families early */
@font-face {
  font-family: Cochin;
  src: url("/fonts/Cochin-Regular.woff2") format("woff2"),
    url("/fonts/Cochin-Regular.woff") format("woff");
  font-weight: normal;
}
@font-face {
  font-family: Cochin-Italic;
  src: url("/fonts/Cochin-Italic.woff2") format("woff2"),
    url("/fonts/Cochin-Italic.woff") format("woff");
  font-style: italic;
}
@font-face {
  font-family: Baskerville;
  src: url("/fonts/Baskerville-Normal.woff2") format("woff2"),
    url("/fonts/Baskerville-Normal.woff") format("woff");
  font-style: italic;
}
