<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>J.D. Adams - Fine Handmade Guitars</title>
  <meta name="description" content="My joy comes from selecting beautiful woods and marrying them into a cohesive build that consists of playability, tonal clarity, and beauty.">
  <meta name="keywords" content="handmade guitars, custom guitars, Jeff Adams">

  <style>
    {# Add font families early #}
    @font-face {
      font-family: Cochin;
      font-weight: normal;
      src: url("/fonts/Cochin.woff2") format("woff2");
      font-display: swap;
    }
    @font-face {
      font-family: Cochin-Italic;
      font-style: italic;
      src: url("/fonts/Cochin-Italic.woff2") format("woff2");
      font-display: swap;
    }
    body {
      font-family: Cochin, serif;
    }
    h2 {
      font-family: Cochin-Italic, serif;
    }
  </style>


  {# Open Graph tags #}
  <meta property="og:title" content="J.D. Adams - Fine Handmade Guitars">
  <meta property="og:description" content="My joy comes from selecting beautiful woods and marrying them into a cohesive build that consists of playability, tonal clarity, and beauty.">
  <meta property="og:url" content="https://jdadamsguitars.com/">
  <meta property="og:type" content="website">
  <meta property="og:image" content="/images/mm-artwork-1200.jpg">
  <meta property="og:image:alt" content="Pastel artwork of Jeff playing the guitar as created by Marc Marvin">
  <meta name="generator" content="Eleventy">

  {# Apple tags #}
  <meta name="apple-mobile-web-app-title" content="J.D. Adams Guitars">
  <meta name="application-name" content="J.D. Adams Guitars">

  {# bundle the CSS content used on all pages and get the link to the bundle #}
  {%- css %}
    {% include "css/reset.css" %}
    {% include "css/variables.css" %}
    {% include "css/main.css" %}
    {% include "css/contact.css" %}
  {% endcss %}

  <link rel="stylesheet" href="{% getBundleFileUrl "css" %}">

  <!-- Fathom - beautiful, simple website analytics -->
  <script src="https://cdn.usefathom.com/script.js" data-site="CXHCSUTU" defer></script>
  <!-- / Fathom -->

</head>
