---
permalink: /index.html
---
<!DOCTYPE html>
<html lang="en">
  {% include 'head.njk' %}
<body>
  <header>
    <h1>J.D. ADAMS</h1>
    <h2>Fine Handmade Guitars</h2>
  </header>
  <main>
    <div class="hero">
      <div class="hero-image">
        {% image "src/images/mm-artwork.jpg", "image.alt", "100vw" %}
      </div>
      <div class="hero-text">
        <p class="p1">Guitar building is one of those wonderful woodworking experiences that combines the desire for artistic beauty with the constant search for tonal success &mdash; acoustics and aesthetics.</p>
        <p>I built my first guitar at the age of 16. Now, over the years, my guitars have become more and more refined thanks to many years of being mentored by a gifted luthier, Steve Kauffman, of Klein & Kauffman guitars.</p>
        <p>My joy comes from selecting beautiful woods and marrying them into a cohesive build that consists of playability, tonal clarity, and beauty.</p>
      </div>
    </div>
    <div class="photos">
      {% image "src/images/g1.jpg", "image.alt", "100vw" %}
      {% image "src/images/g2.jpg", "image.alt", "100vw" %}
      {% image "src/images/g3.jpg", "image.alt", "100vw" %}
      {% image "src/images/g4.jpg", "image.alt", "100vw" %}
    </div>
    <p class="cta">I'd love to build the guitar of your dreams. I look forward to speaking with you soon.</p>
    <div class="contact-form">
      <form
        id="contact"
        name="J.D. Adams website inquiry"
        action="/form-success/"
        method="POST"
        data-netlify="true"
        netlify-honeypot="bot-field"
      >
        <label for="name">Your name</label>
        <input type="text" name="name" id="name" tabindex="0" required />
        <input class="other-form-field" name="bot-field" type="text" aria-hidden="true" />

        <label for="email">Your email address</label>
        <input type="email" name="email" id="email" tabindex="0" required />

        <label for="subject">The subject of your message</label>
        <input type="text" name="subject" id="subject" tabindex="0" required />

        <label for="message">Your message</label>
        <textarea name="message" id="message" tabindex="0" required></textarea>

        <button
          name="submit"
          type="submit"
          id="contact-submit"
          tabindex="0"
          data-submit="...Sending"
        >
          Send
        </button>
      </form>
    </div>
  </main>
  <footer>
    <p>&#169; 2023 Jeff Adams. All Rights Reserved.</p>
  </footer>
</body>
</html>
