---
permalink: /index.html
---
<!DOCTYPE html>
<html lang="en">
  {% include 'head.njk' %}
<body>
  <header>
    <h1>J.D. ADAMS</h1>
    <h2>Fine Handmade Guitars</h2>
  </header>
  <main>
    <div class="hero">
      <div class="hero-image">
        {% image "src/images/mm-artwork.jpg", "image.alt", "100vw", "eager" %}
      </div>
      <div class="hero-text">
        <div>
          <p class="p1">Guitar building is one of those wonderful woodworking experiences that combines the desire for artistic beauty with the constant search for tonal success &mdash; acoustics and aesthetics.</p>
          <p>I built my first guitar at the age of 16. Now, over the years, my guitars have become more and more refined thanks to many years of being mentored by a gifted luthier, Steve Kauffman, of Klein & Kauffman guitars.</p>
          <p>My joy comes from selecting beautiful woods and marrying them into a cohesive build that consists of playability, tonal clarity, and beauty.</p>
        </div>
        <img class="signature" src="/images/jeff-signature.png" alt="J.D. Adams signature" width="150" height="113" loading="lazy">
      </div>
    </div>
    <div class="photos">
      <div class="photos-subgrid">
        {% image "src/images/g1.jpg", "image.alt", "100vw", "lazy" %}
        {% image "src/images/g2.jpg", "image.alt", "100vw", "lazy" %}
      </div>
      <div class="photos-subgrid">
        {% image "src/images/g3.jpg", "image.alt", "100vw", "lazy" %}
        {% image "src/images/g4a.jpg", "image.alt", "100vw", "lazy" %}
      </div>
    </div>
    <p class="cta">If you'd like to learn more about my guitars, please contact me. I look forward to speaking with you.</p>
    <div class="contact-form">
      <form
        id="contact"
        name="J.D. Adams website inquiry"
        action="/form-success/"
        method="POST"
        data-netlify="true"
        netlify-honeypot="bot-field"
      >
        <label for="name">Name</label>
        <input type="text" name="name" id="name" tabindex="0" required>
        <input class="other-form-field" name="bot-field" type="text" aria-hidden="true">

        <label for="email">Email Address</label>
        <input type="email" name="email" id="email" tabindex="0" required>

        <label for="subject">Subject</label>
        <input type="text" name="subject" id="subject" tabindex="0" required>

        <label for="message">Message</label>
        <textarea name="message" id="message" tabindex="0" required></textarea>

        <button
          name="submit"
          type="submit"
          id="contact-submit"
          tabindex="0"
          data-submit="...Sending"
        >
          Send
        </button>
      </form>
    </div>
  </main>
  <footer>
    <p>&#169; 2023 Jeff Adams. All Rights Reserved.</p>
  </footer>
</body>
</html>
